version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:15

jobs:
  build_and_test:
    <<: *defaults
    steps:
    - checkout
    # Restore node_modules if it is cached and has the exact same package-lock.json
    - restore_cache:
        key: dependency-cache-{{ checksum "package-lock.json" }}
        paths:
        - ./node_modules
    - run:
        name: Install npm packages
        command: npm install
    - run:
        name: Run linter
        command: npm run lint
    # Save node_modules to the cache for current package-lock.json
    - save_cache:
        key: dependency-cache-{{ checksum "package-lock.json" }}
        paths:
        - ./node_modules
    - run:
        name: Run tests
        command: npm test
    - persist_to_workspace:
        root: ~/repo
        paths: .
  publish:
    <<: *defaults
    steps:
    - attach_workspace:
        at: ~/repo
    - run:
        name: Publish to NPM
        command: |
          echo "@zeplin:registry=https://registry.npmjs.org/" >> ~/.npmrc
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npm publish --access public
workflows:
  version: 2
  npm_publish:
    jobs:
    - build_and_test:
        # Run build_and_test on all branches and tags
        filters:
          tags:
            only: /.*/
    - publish:
        requires:
        - build_and_test
        filters:
          # Ignore all branches
          branches:
            ignore: /.*/
          # Run publish only on version tags
          tags:
            only: /v[0-9]+(\.[0-9]+)*/
