[remote "upstream"]
    url = https://user@bitbucket.example.com/scm/owner/example.git
    fetch = +refs/heads/*:refs/remotes/upstream/*

[Remote "origin"]
    url = https://user@bitbucket.example.com/scm/owner/example.git
    fetch = +refs/heads/*:refs/remotes/origin/*

[branch "develop"]
    remote = origin
    merge = refs/heads/develop

[branch "master"]
    remote = origin
    merge = refs/heads/master
